version: '3.9'

services:
  db:
    image: postgres:13.0-alpine
    ports:
      - 5433:5433
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=bookstore_dev
      - POSTGRES_PASSWORD=bookstore_dev
      - POSTGRES_DB=bookstore_dev_db
    networks:
      - backend
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - . :/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./env.dev
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  
